<div class="w3-container">
  <ul id="messages" *ngFor="let item of messageList">
    {{item.name}} : {{item.message}}
  </ul>
  <div id="form">
    <input id="m" type="text" [(ngModel)]="messages" name="messages">
    <button (click)="send()">Send</button>
  </div>
  
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
  
      <div class="w3-center"><br>
        <img src="https://www.w3schools.com/w3css/img_avatar4.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
      </div>
  
      <form class="w3-container" action="/action_page.php">
        <div class="w3-section">
          <label><b>Name</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" [(ngModel)]="name" placeholder="Enter Username" name="usrname" required>
        </div>
      </form>
  
      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button (click)="login()" type="button" class="w3-button w3-red">OK</button>
      </div>
  
    </div>
  </div>
</div>